<% content_for :title, 'Talleres - TIC' %>
<% content_for :page_title, 'Talleres' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>Talleres</li>".html_safe %>

<div class='box box-solid'>
  <div class='box-header with-border'>
    <h3 class='box-title'>Acciones</h3>
  </div>
  <div class='box-body'>
    <%= link_to '<i class="fa fa-plus"></i> Crear'.html_safe, new_workshop_path, class: 'btn btn-app' %>
  </div>
</div>

<div class='box box-solid'>
  <div class='container-fluid table-responsive'>
    <table class='table table-bordered table-hover dataTable responsive no-wrap' id='workshops-table', data-source="<%= workshops_path(format: :json) %>">
      <br>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
