<%= form_tag assign_to_lecture_user_path, method: :post do %>
  <%= hidden_field_tag :lecture_id %>
  <div class='input-group'>
    <%= text_field_tag :lecture, nil, placeholder: 'Catequesis', class: 'form-control ticnsp-form-control', id: 'lectures-typeahead', autocomplete: 'off' %>
    <span class='input-group-btn'>
      <button class='btn bg-green btn-flat' type='submit'><i class='fa fa-pencil-square-o'></i> Asignar</button>
    </span>
    <script>
    	$(function () {
    		$.getJSON('/lectures/typeaheaddata', function (data) {
    			$('#lectures-typeahead').typeahead({
	    			source: data,
	    			scrollBar: true,
	    			onSelect: function (item) {
	    				$('#lecture_id').val(item.value);
	    			}
	    		});
    		});
    	});
    </script>
  </div>
<% end %>