MAILER_URL=mydomain.org
RAILS_ENV=production
PRODUCTION_DATABASE_USERNAME=root
PRODUCTION_DATABASE_PASSWORD=mysecretpassword
PRODUCTION_DATABASE_DATABASE=example
PRODUCTION_DATABASE_HOSTNAME=example_db
SECRET_KEY_BASE=secretstuff
RAILS_SERVE_STATIC_FILES=true
