<% content_for :title, 'Avisos - TIC' %>
<% content_for :page_title, 'Avisos' %>
<% content_for :page_breadcrumb, '<li>Avisos</li>'.html_safe %>

<% if ['general_coordinator', 'admin'].include? current_user.usertype %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='box box-solid'>
        <div class='box-header with-border'>
          <h3 class='box-title'>Acciones</h3>
        </div>
        <div class='box-body'>
          <%= link_to '<i class="fa fa-pencil-square-o"></i> Nuevo aviso'.html_safe, new_notice_path, class: 'btn btn-app' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class='row'>
	<div class='col-xs-12'>
    <% @notices.each do |notice| %>
      <%= render 'notices/notice', notice: notice %>
		<% end %>
		<%= will_paginate @notices, renderer: BootstrapPagination::Rails %>
	</div>
</div>
