<% content_for :title, 'Avisos - TIC' %>
<% content_for :page_title, 'Nuevo avisos' %>
<% content_for :page_breadcrumb, "<li>#{ link_to 'Avisos', notices_path }</li><li>Nuevo aviso</li>".html_safe %>

<div class='row'>
	<div class='col-xs-12'>
		<div class='box box-solid'>
			<div class='box-header with-border'>
				<h3 class='box-title'>Editor de texto</h3>
			</div>
			<div class='box-body'>
				<%= link_to '<i class="fa fa-mail-reply"></i> Atrás'.html_safe, notices_path, class: 'btn btn-app' %>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>