<%= form_tag enroll_in_workshop_child_path, method: :post do %>
  <%= hidden_field_tag :workshop_id %>
  <div class='input-group'>
    <%= text_field_tag :workshop, nil, placeholder: 'Taller', class: 'form-control ticnsp-form-control',  id: 'workshops-typeahead', autocomplete: 'off' %>
    <span class='input-group-btn'>
      <button class='btn bg-red btn-flat' type='submit'><i class='fa fa-pencil-square-o'></i> Asignar</button>
    </span>
    <script>
    	$(function () {
    		$.getJSON('/workshops/typeaheaddata', function (data) {
    			$('#workshops-typeahead').typeahead({
	    			source: data,
	    			scrollBar: true,
	    			onSelect: function (item) {
	    				$('#workshop_id').val(item.value);
	    			}
	    		});
    		});
    	});
    </script>
  </div>
<% end %>