<% content_for :title, 'Ni単os - TIC' %>
<% content_for :page_title, 'Inscribir Ni単o' %>
<% content_for :breadcrumb, "<li>#{link_to 'Ni単os', children_path}</li><li>Inscribir ni単o</li>".html_safe %>

<div class='row'>
	<div class='col-sm-12 col-md-8'>
		<div class='panel panel-ticnsp'>
			<div class='panel-body'>
				<%= link_to 'Back', children_path, class: 'btn btn-default pull-right' %>
			</div>
			<div class='panel-body'>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>