<%= form_tag pay_child_semester_path( child_semester ), method: :put, class: 'form-inline' do %>
  <div class='form-group'>
    <div class='input-group'>
      <%= text_field_tag :paid_amt, nil, placeholder: '0.00', class: 'form-control input-sm' %>
      <span class='input-group-btn'>
        <%= submit_tag 'Pagar', class: 'btn btn-sm btn-flat btn-success' %>
      </span>
    </div>
  </div>
<% end %>
