<% content_for :title, 'Tutor - TIC' %>
<% content_for :page_title, 'Editar tutor' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>#{ link_to 'Coordinadores', tutors_users_path }</li><li>Editar tutor</li>".html_safe %>


<div class='box box-solid'>
	<div class='box-header with-border'>
		<h3 class='box-title'>Favor de llenar la información</h3>
	</div>
	<div class='box-body'>
		<%= link_to '<i class="fa fa-mail-reply"></i> Back'.html_safe, tutors_users_path, class: 'btn btn-app' %>
	</div>
	<div class='box-body'>
		<%= render 'form_tutor' %>
	</div>
</div>
