.callout.bg-white {
	color: #222 !important;
	background-color: #fff !important;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.box hr {
	border-style: dashed;
}