<% content_for :title, 'Comisi贸n - TIC' %>
<% content_for :page_title, 'Editar comisi贸n' %>
<% content_for :page_breadcrumb, "<li>#{ link_to '<span class="fa fa-dashboard"></span> Dashboard'.html_safe, root_path }</li><li>#{ link_to 'Comisiones', commissions_path }</li><li>Editar comisi贸n</li>".html_safe %>
<div class='box box-solid'>
	<div class='box-header with-border'>
		<h3 class='box-title'>Favor de llenar la informaci贸n</h3>
	</div>
	<div class='box-body'>
		<%= link_to '<i class="fa fa-mail-reply"></i> Back'.html_safe, commissions_path, class: 'btn btn-app' %>
		<%= link_to '<i class="fa fa-search-plus"></i> Show'.html_safe, @commission, class: 'btn btn-app' %>
	</div>
	<div class='box-body'>
		<%= render 'form' %>
	</div>
</div>
