#webapp-body {
	padding-top: 50px;	
}

#nav-column {
	background-color: #354b60;
	min-height: 100%;
	position: absolute;
}

.sidebar-nav i.fa {
	margin-right: 20px;
	margin-left: -13px;
	width: 40px;
}