/* Navbar */
.navbar-ticnsp {
	padding-top: 20px;
	padding-bottom: 20px;
	background: none;
}

.navbar-ticnsp a {
	color: #222;
}

.navbar-ticnsp .navbar-toggle {
	border-color: #222;
	color: #222;
}

.navbar-ticnsp .navbar-toggle:hover {
	background-color: #222;
	color: #222;
}

.navbar-ticnsp .navbar-toggle .icon-bar {
	background-color: #222;
}

.navbar-ticnsp .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.nav > li > a {
	margin-top: 1px;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: #222;
	background-color: #ecf0f1;
	height: 42px;
	margin-top: 5px;
	padding-top: 11px;
	border-radius: 0px;
}

.navbar-ticnsp a:active {
	color: #fff;
	background: none;
}

.btn-ticnsp-navbar-btn {
	border: 1px solid #222;
	background: none;
	padding: 10px;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 0px;
}

.btn-ticnsp-navbar-btn:hover {
	background-color: #222;
	color: #fff;
}

@media(max-width: 768px) {
	#ticnsp-collapse-navbar {
		margin-top: 40px;
	}
}

/* Sections */
.ticnsp-section-title {
	font-weight: 200;
	text-align: center;
	padding-bottom: 20px;
}

.section-cover {
	background-color: #fff;
}

.section-aboutus {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #3498db;
	color: #fff;
}

.section-team {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #343434;
}

/* Title section */
.ticnsp-title {
	padding-top: 50px;
	padding-bottom: 20px;
	max-width: 500px;
}

.ticnsp-title h1 {
	font-weight: 200;
	font-size: 60px;
}
.ticnsp-page-banner {
	background-color: #ecf0f1;
	margin-top: 20px;
	padding-top: 20px;
}

/* About us section */

/* Team section */
.ticnsp-team-member {
	text-align: center;
	padding-bottom: 20px;
}

.ticnsp-team-member-image {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 5px solid #e6e9eb;
	margin: auto;
}