/* Navbar */
.navbar-ticnsp {
	padding-top: 20px;
	padding-bottom: 20px;
	background: none;
}

.navbar-ticnsp a {
	color: #222;
}

.navbar-ticnsp .navbar-toggle {
	border-color: #222;
	color: #222;
}

.navbar-ticnsp .navbar-toggle:hover {
	background-color: #222;
	color: #222;
}

.navbar-ticnsp .navbar-toggle .icon-bar {
	background-color: #222;
}

.navbar-ticnsp .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.nav > li > a {
	margin-top: 1px;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: #222;
	background-color: #ecf0f1;
	height: 42px;
	margin-top: 5px;
	padding-top: 11px;
	border-radius: 0px;
}

.navbar-ticnsp a:active {
	color: #fff;
	background: none;
}

.btn-ticnsp-navbar-btn {
	border: 1px solid #222;
	background: none;
	padding: 10px;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 0px;
}

.btn-ticnsp-navbar-btn:hover {
	background-color: #222;
	color: #fff;
}

@media(max-width: 768px) {
	#ticnsp-collapse-navbar {
		margin-top: 40px;
	}
}

/* Sections */
.ticnsp-section-title {
	font-weight: 200;
	text-align: center;
	padding-bottom: 50px;
}

.section-cover {
	background-color: #fff;
}

.section-aboutus {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #3498db;
	color: #fff;
}

.section-team {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #343434;
}

.section-contact {
	padding-top: 50px;
	color: #fff;
	background: asset-url("section_contact.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.section-footer {
	height: 400px;
	background-color: #333;
}

/* Title section */
.ticnsp-title {
	padding-top: 50px;
	padding-bottom: 20px;
	max-width: 500px;
}

.ticnsp-title h1 {
	font-weight: 200;
	font-size: 60px;
}
.ticnsp-page-banner {
	background-color: #ecf0f1;
	margin-top: 20px;
	padding-top: 20px;
}

/* About us section */

/* Team section */
.ticnsp-team-member {
	text-align: center;
	padding-bottom: 45px;
}

.ticnsp-team-member-name {
	font-size: 25px;
	padding-bottom: 10px;
}

.ticnsp-team-member-position {
	font-size: 18px;
	font-weight: 200;
}

.ticnsp-team-member-image {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 5px solid #fff;
	margin: auto;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 6px 17px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 17px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 17px -9px rgba(0,0,0,0.75);
}

/* Contact section  */
.ticnsp-form {
	padding-bottom: 50px;
}

.ticnsp-form-control {
	border-radius: 0px;
	box-shadow: none;
	border: none;
	height: 52px;
    font-size: 18px;
    font-weight: 200;
    padding: 10px 16px;
}

.btn-ticnsp-form-btn {
	border-radius: 0px;
	background-color: #34495e;
	border: medium none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 12px 24px;
}

.btn-ticnsp-form-btn:hover, .btn-ticnsp-form-btn:active {
	background-color: #2c3e50;
	color: #e2e2e2;
}