.panel-ticnsp {
	border-radius: 0px;
	border: none;
	border-top: 4px solid #e7eaec;

	.panel-heading {
		border-radius: 0px;
		.panel-title {
			font-weight: 200;
		}
	}
}

.panel-ticnsp-content-panel {
	height: 400px;
}