<li class="dropdown notifications-menu" data-behavior='notifications'>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-behavior='notification-link'>
  	<i class="fa fa-bell-o"></i>
  	<span data-behavior='notification-unreadcount' class="label label-warning"></span>
  </a>
  <ul class="dropdown-menu">
  	<li id='notifications-header' class="header" data-behavior='notification-header'></li>
  	<li>
     	<ul id='notifications-menu' class="menu" data-behavior='notification-items'>
      		<%
       			# List of notifications
       		%>
     	</ul>
   	</li>
    <li class="footer"><a href="#">Ver todas</a></li>
  </ul>
</li>
