<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            <%= image_tag 'tic_logo_nobg.png', width: 50 %>
            TICNSP.org
        </a>
    </li>
    <li>
        <a href="#"><i class='fa fa-dashboard fa-lg'></i> Dashboard</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-comment'></i> Avisos</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-tasks'></i> Actividades</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-child'></i> Niños</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-users'></i> Coordinadores</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-users'></i> Tutores</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-institution'></i> Catequesis</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-graduation-cap'></i> Talleres</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-calendar'></i> Eventos</a>
    </li>
    <li>
        <a href="#"><i class='fa fa-lg fa-gears'></i> Configuración</a>
    </li>
</ul>